# Current Values for All States from COVID Tracking Project API

--The most recent COVID data for every state. The current value may be different than today.

In [40]:
import requests
from random import uniform 
from pprint import pprint
import pandas as pd
import os


# Save config information.
url = "https://api.covidtracking.com/v1/states/current.json"

covid_json = requests.get(url).json()

#PPrint the first state in list to evaluate list items
#Field description for variables can be found here : https://covidtracking.com/data/api 
pprint(covid_json[0])

{'checkTimeEt': '09/13 23:59',
 'commercialScore': 0,
 'dataQualityGrade': 'A',
 'date': 20200914,
 'dateChecked': '2020-09-14T03:59:00Z',
 'dateModified': '2020-09-14T03:59:00Z',
 'death': 44,
 'deathConfirmed': 44,
 'deathIncrease': 0,
 'deathProbable': None,
 'fips': '02',
 'grade': '',
 'hash': 'c47ba6fdd7b2d5856a69b861c773b64ba0dfcb76',
 'hospitalized': None,
 'hospitalizedCumulative': None,
 'hospitalizedCurrently': 37,
 'hospitalizedIncrease': 0,
 'inIcuCumulative': None,
 'inIcuCurrently': None,
 'lastUpdateEt': '9/14/2020 03:59',
 'negative': 396143,
 'negativeIncrease': 2123,
 'negativeRegularScore': 0,
 'negativeScore': 0,
 'negativeTestsAntibody': None,
 'negativeTestsPeopleAntibody': None,
 'negativeTestsViral': 396600,
 'onVentilatorCumulative': None,
 'onVentilatorCurrently': 8,
 'pending': None,
 'posNeg': 403413,
 'positive': 7270,
 'positiveCasesViral': 7270,
 'positiveIncrease': 77,
 'positiveScore': 0,
 'positiveTestsAntibody': None,
 'positiveTestsAntigen': None,
 'positiveTestsPeopleAntibody': None,
 'positiveTestsPeopleAntigen': None,
 'positiveTestsViral': 6533,
 'recovered': 2377,
 'score': 0,
 'state': 'AK',
 'total': 403413,
 'totalTestEncountersViral': None,
 'totalTestResults': 403413,
 'totalTestResultsIncrease': 2200,
 'totalTestResultsSource': 'posNeg',
 'totalTestsAntibody': None,
 'totalTestsAntigen': None,
 'totalTestsPeopleAntibody': None,
 'totalTestsPeopleAntigen': None,
 'totalTestsPeopleViral': None,
 'totalTestsViral': 403413}

In [41]:
states= []
deaths= []
hospitalized = []
covid_positives = []
dates = []

indices = list( range(len(covid_json)))

for i in indices:
    states.append(covid_json[i]['state'])
    dates.append(covid_json[i]['date'])
    deaths.append(covid_json[i]['death'])
    hospitalized.append(covid_json[i]['hospitalizedCumulative'])
    covid_positives.append(covid_json[i]['positive'])

In [42]:
AllStates_dict = {
    "States": states,
    "Date": dates,
    "Covid Positive": covid_positives,
    "Cumaltive Hospitalized": hospitalized,
    "Deaths": deaths
}
AllStates_df = pd.DataFrame(AllStates_dict )
AllStates_df

   States      Date  Covid Positive  Cumaltive Hospitalized  Deaths
0      AK  20200914            7270                     NaN      44
1      AL  20200914          139459                 15756.0    2355
2      AR  20200914           70627                  4736.0     992
3      AS  20200914               0                     NaN       0
4      AZ  20200914          208725                 21774.0    5322
5      CA  20200914          757778                     NaN   14385
6      CO  20200914           61324                  7227.0    1889
7      CT  20200914           54895                 11357.0    4485
8      DC  20200914           14622                     NaN     616
9      DE  20200914           18937                     NaN     617
10     FL  20200914          665730                 41846.0   12800
11     GA  20200914          295337                 26394.0    6353
12     GU  20200914            1927                     NaN      26
13     HI  20200914           10700                   636.0      99
14     IA  20200914           72876                     NaN    1224
15     ID  20200914           35279                  1604.0     415
16     IL  20200914          264839                     NaN    8546
17     IN  20200914          106540                 11796.0    3439
18     KS  20200914           49899                  2572.0     534
19     KY  20200914           57282                  4905.0    1065
20     LA  20200914          158882                     NaN    5252
21     MA  20200914          125080                 12442.0    9219
22     MD  20200914          116646                 14884.0    3839
23     ME  20200914            4903                   431.0     136
24     MI  20200914          124287                     NaN    6921
25     MN  20200914           84949                  6954.0    1974
26     MO  20200914          104079                     NaN    1714
27     MP  20200914              61                     4.0       2
28     MS  20200914           90018                  5499.0    2706
29     MT  20200914            9107                   531.0     138
30     NC  20200914          185781                     NaN    3060
31     ND  20200914           15831                   646.0     134
32     NE  20200914           38335                  2139.0     434
33     NH  20200914            7714                   721.0     436
34     NJ  20200914          196968                 22965.0   16034
35     NM  20200914           26761                  3267.0     823
36     NV  20200914           73814                     NaN    1456
37     NY  20200914          444948                 89995.0   25394
38     OH  20200914          138484                 14378.0    4419
39     OK  20200914           70223                  5466.0     905
40     OR  20200914           29484                  2279.0     511
41     PA  20200914          145063                     NaN    7869
42     PR  20200914           37750                     NaN     542
43     RI  20200914           23130                  2644.0    1075
44     SC  20200914          132680                  8448.0    3077
45     SD  20200914           16801                  1171.0     184
46     TN  20200914          174274                  7766.0    2097
47     TX  20200914          663445                     NaN   14211
48     UT  20200914           58438                  3338.0     436
49     VA  20200914          134571                 17367.0    2743
50     VI  20200914            1221                     NaN      19
51     VT  20200914            1696                     NaN      58
52     WA  20200914           80138                  7098.0    2006
53     WI  20200914           95497                  6350.0    1218
54     WV  20200914           12820                     NaN     275
55     WY  20200914            4392                   230.0      46